In [3]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.preprocessing import StandardScaler
from sklearn.neighbors import KNeighborsClassifier
from sklearn.pipeline import Pipeline
from sklearn.svm import SVC

We have cleaned the dataset in another notebook. You can see the details [here](https://github.com/galiph/ExploratoryDataAnalysis/blob/master/01_Titanic_EDA.ipynb).

In [17]:
titanic_df = pd.read_csv('./data/titanic_train.csv')

#Converting Sex
sex_conv = lambda x : 1 if x=='male' else 0 
titanic_df['Is_male'] = titanic_df['Sex'].apply(sex_conv)

# Adding Family column
titanic_df['FamilySize'] = titanic_df['SibSp'] + titanic_df['Parch']
titanic_df.drop('SibSp',axis=1,inplace=True)
titanic_df.drop('Parch',axis=1,inplace=True)

# Adding "Title" column
titanic_df['Title']=0
for i in df:
    titanic_df['Title']=titanic_df['Name'].str.extract('([A-Za-z]+)\.', expand=False)  

# Dropping some columns
titanic_df.drop(['Ticket', 'Cabin', "Name", "Sex"], axis=1, inplace = True)

# Imputing Age  
titanic_df['Age'] = titanic_df.groupby('Title')['Age'].transform(lambda x: x.fillna(np.round(x.mean())))

# Converting Age
titanic_df['Age'] =pd.cut(titanic_df['Age'], bins=[1, 12, 50, 200], labels=['Child','Adult','Elder'])

In [4]:
def class_fare(cols):
    if (cols[0] == 1):
        if (cols[1] > 84 ):
            return 1
        else:
            return 2
    elif (cols[0] == 2):
        if (cols[1] > 21 ):
            return 3
        else:
            return 4
    else:
        if (cols[1] > 14 ):
            return 5
        else:
            return 6

In [9]:
titanic_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 10 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Sex            891 non-null object
Age            877 non-null category
Fare           891 non-null float64
Embarked       889 non-null object
Is_male        891 non-null int64
FamilySize     891 non-null int64
Title          891 non-null object
dtypes: category(1), float64(1), int64(5), object(3)
memory usage: 63.7+ KB

In [13]:
titanic_df['Embarked'] = pd.Categorical(df['Embarked'])
titanic_df['Pclass'] = pd.Categorical(df['Pclass'])
titanic_df['Sex'] = pd.Categorical(df['Sex'])

In [14]:
titanic_df.dtypes

PassengerId       int64
Survived          int64
Pclass         category
Sex            category
Age            category
Fare            float64
Embarked       category
Is_male           int64
FamilySize        int64
Title            object
dtype: object